/* Global styling elements for all layouts 
    The rest of the CSS elements are directly written inside of 
    the Astro components.
    Astro <style> CSS rules are automatically scoped by default. 
    https://docs.astro.build/en/guides/styling/ */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');


:root {
    --color-lilac:  #efdefc;
    --font-header: 'DM Serif Display', serif;
    --font-text: 'Roboto', sans-serif;
    /* --typewriter-font: */
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
}
html {
    /* font-family: system-ui, sans-serif; */
    background: white;
    background-size: 224px;
    font: var(--font-text);
}
nav {
      margin-bottom: auto;
}
body {
    /* TO FIX  !! */

    /* with this code it fits on screen */
    /* min-height: 100vh;
    display: flex;
    flex-direction: column; */

    /* with this line instead doesnt fit window it overlaps, 
    but doesnt have div moving */
    /* display: table; 

    margin: auto;
    padding: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    background: white;*/
    
    font-size: 20px;
    font-weight: 300; 
    color: black;
    font-family: 'Fira Sans', sans-serif;
}
main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: black;
    font-size: 20px;
    line-height: 1.6;
}
h1, h2, h3, h4 {
    font-family: var(--font-header);
}
h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
}
h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
}
footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    background-color: #333;
}

img, svg {
      /* margin-block: 2.5rem; */
      border-radius: 0.75rem;
      width: 100%;
      height: auto;
      /* overflow:hidden; */
}
/* code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
} */
