---
import MainLayout from '../layouts/MainLayout.astro';
import ContentAbout from '../content/other/about.md';
import SocialLinks from '../components/SocialLinks.astro'
---

<MainLayout title="About | Alyssa Bédard">
    <main id="about-page">
        <h2>About</h2>
        <SocialLinks />
        <br>
        <p id="resume-link">👩🏻‍💻 Updated <b>Résumé</b> & <b>Recommendation Letters</b>:
            <i>
                <a id="dropbox" href="https://www.dropbox.com/scl/fo/o2f8zgxrut4xi7pffzl73/h?rlkey=qfj9umkhkbn5kex9vmjsctmr9&dl=0" target="_blank"><b>Dropbox Link</b></a>
                <br><span>(Password can be found on my résumé)</span>
            </i>
        </p>
        <div>
            <ContentAbout />
        </div>
    </main>
</MainLayout>

<style>

    @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
    #about-page {
        font-family: 'DM Serif Display', serif;
    }
    h2 {
        font-family: 'DM Serif Display', serif;
    }
    #resume-link {
        border: 1px;
        border-style: solid;
        border-color: #efdefc;
        background-color: #efdefc;
        font-size: 15px;
    }
    #dropbox {
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        text-decoration: underline;

    }
    
</style>