---
import MainLayout from '../layouts/MainLayout.astro';
import ContentAbout from '../content/other/about.md';
import SocialLinks from '../components/SocialLinks.astro'

const dropboxLink = 'https://www.dropbox.com/scl/fo/o2f8zgxrut4xi7pffzl73/h?rlkey=qfj9umkhkbn5kex9vmjsctmr9&dl=0'
---

<MainLayout title="About | Alyssa Bédard">
    <main>
        <h2>About</h2>
        <SocialLinks />
        <br>
        <p id="resume-link">👩🏻‍💻 Updated <b>Résumé</b> & <b>Recommendation Letters</b>:
            <i><a id="dropbox-link" href={dropboxLink} target="_blank"><b>Dropbox Link</b></a>
            <br><span>(Password can be found on my résumé)</span></i>
        </p>
        <div>
            <ContentAbout />
        </div>
    </main>
</MainLayout>

<style>
    #resume-link {
        border: 1px;
        border-style: solid;
        border-color: var(--color-lilac);
        background-color: var(--color-lilac);
        font-size: 15px;
    }
    #dropbox-link {
        color: black;
        font-size: 15px;
        text-decoration: underline;
    }
</style>