---
import Layout from '../layouts/Layout.astro';
import ContentAbout from '../content/other/about.md';

import { getEntry } from 'astro:content';





---

<Layout title="About | Alyssa Bédard">
    <main id="about-page">
        <h2>About</h2>
        <ContentAbout />
        <!-- <Content /> -->
        
    </main>
</Layout>