---
import MainLayout from '../layouts/MainLayout.astro';
import Content from '../content/other/contact.md';
import SocialLinks from '../components/contact/SocialLinks.astro'
import OtherLinks from '../components/contact/OtherLinks.astro'
---

<MainLayout title="Contact | Alyssa Bédard">
    <div id="Contact-page">
        <h2>Contact</h2>
        <div>
            <Content />
        </div>
        <SocialLinks />
        <hr>
        <OtherLinks />
    </div>
</MainLayout>
