---
import MainLayout from '../layouts/MainLayout.astro';
import Content from '../content/other/contact.md';
import SocialLinks from '../components/previousUI/SocialLinks.astro'
import OtherLinks from '../components/OtherLinks.astro'

// const dropboxLink = 'https://www.dropbox.com/scl/fo/o2f8zgxrut4xi7pffzl73/h?rlkey=qfj9umkhkbn5kex9vmjsctmr9&dl=0'
---

<MainLayout title="About | Alyssa Bédard">
    <div id="Contact-page">
        <h2>Contact</h2>
        <div>
            <Content />
        </div>
        <SocialLinks />
        <hr>
        <OtherLinks />
    </div>
</MainLayout>
