---
import MainLayout from '../layouts/MainLayout.astro';
import Content from '../content/other/games.md';
import ProfileImage from '../components/ProfileImage.astro';
---

<MainLayout title="Games | Alyssa Bédard">
    <div id="games-page">
        <h2>Games</h2>
        <ProfileImage />
        <Content />
    </div>
</MainLayout>