---
import MainLayout from '../layouts/MainLayout.astro';
import GamesContent from '../content/other/games.md';
import ProfileImage from '../components/ProfileImage.astro';
---

<MainLayout title="Games | Alyssa Bédard">
    <main>
        <h2>Games</h2>

            <ProfileImage />
            <GamesContent />
    </main>
</MainLayout>