---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentGame from '../content/other/games.md';
import ProfileImage from '../components/home/ProfileImage.astro';
---

<BaseLayout title="Games | Alyssa Bédard">
    <div id="games-page">
        <h2>Games</h2>
        <ProfileImage />
        <ContentGame />
    </div>
</BaseLayout>