---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentHome from '../content/other/home.md';
import ProfileImage from '../components/home/ProfileImage.astro';
import TypeWriter from '../components/home/TypeWriter.astro'
---
<BaseLayout title="Alyssa Bédard">
	<div id="index-page">
		<TypeWriter />
		<ContentHome />
		<ProfileImage />
		<div id="game-text">Games I played on this Apple Macintosh iMac G3, in 
				<span style="color:#083ee0">Indigo</span>:
			<button class="btn"><a href="/games/">Here</a></button>
		</div>
	</div>
</BaseLayout>

<style>
	.btn {
		margin-top: 5px;
	}
	#game-text {
		margin-top: 5px;
		font-size: smaller;
		line-height: 150%;
	}
</style>
