---
import MainLayout from '../layouts/MainLayout.astro';
import ContentHome from '../content/other/home.md';
import ProfileImage from '../components/ProfileImage.astro'
import SocialLinks from '../components/SocialLinks.astro'
---

<MainLayout title="Alyssa Bédard">
	
	<main id="index-page">
		<h1 id="intro-heading">你好 Bonjour, I'm <span class="text-gradient">Alyssa</span>! ^^</h1>
		<ProfileImage />
		<ContentHome />
		<SocialLinks />
		
	</main>
</MainLayout>

 <style>
	
	@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	#intro-heading {
		font-family: 'DM Serif Display', serif;
		font-size: 40px;
	}
</style>
