---
import MainLayout from '../layouts/MainLayout.astro';
import Content from '../content/other/home.md';
import ProfileImage from '../components/ProfileImage.astro';
import TypeWriter from '../components/TypeWriter.astro'
const values = import.meta.env.some_value;

// const myKV = Astro.locals.runtime.env.MY_KV;
// const value = await myKV.get("key");
// const runtime = Astro.locals.runtime;
---

<MainLayout title="Alyssa Bédard">
	<div id="index-page">
		<!-- <pre>{JSON.stringify(runtime.env.EMAIL)}</pre> -->
		<!-- test here: -->
		<TypeWriter /><br>
		<div>{values}</div>
		<Content />
		<ProfileImage />
		<br>
		<div id="test">Games I played on this Apple Macintosh iMac G3, in 
				<span style="color:#083ee0">Indigo</span>:
			<button class="btn"><a href="/games/">Here</a></button>
		</div>
	</div>
</MainLayout>

<style>
	.btn {
		margin-top: 5px;
	}
	#test {
		font-size: smaller;
		line-height: 150%;
	}
</style>
