---
import MainLayout from '../layouts/MainLayout.astro';
import Content from '../content/other/home.md';
import Image from '../components/ProfileImage.astro';
import TypeWriter from '../components/TypeWriter.astro'
---

<MainLayout title="Alyssa Bédard">
	<div id="index-page">
		<TypeWriter /><br>
		<Content />
		<Image />
		<br>
		<span>Games I played on this Apple Macintosh iMac G3, in Indigo:</span>
		<button class="btn"><a href="/games/">Here</a></button>
	</div>
</MainLayout>

