---
import MainLayout from '../layouts/MainLayout.astro';
import ProjectsCollection from '../components/ProjectsCollection.astro'
---

<MainLayout title="Projects | Alyssa Bédard">
	<main id="projects-page">
	  <h2>Projects</h2>
    <ProjectsCollection />
	</main>
</MainLayout>

