---
import WindowLayout from '../layouts/WindowLayout.astro';
import ProjectsCollection from '../components/projects/ProjectsCollection.astro'
// import WindowLayout from '../layouts/WindowLayout.astro';
---

<WindowLayout title="Projects | Alyssa Bédard">
	<div id="project-page">
		<h2>Projects</h2>
		<span>A list of few projects, including both technical and non-technical ones.</span>
		<ProjectsCollection />
	</div>
</WindowLayout>

