---
import MainLayout from '../layouts/MainLayout.astro';
import ProjectsCollection from '../components/ProjectsCollection.astro'
---

<MainLayout title="Projects | Alyssa Bédard">
	<div id="project-page">
		<h2>Projects</h2>
		<span>A list of few projects, including both technical and non-technical ones.</span>
		<ProjectsCollection />
	</div>
</MainLayout>

