---
import { Image } from 'astro:assets';
// const IMAGES_URL = import.meta.env.PUBLIC_IMAGES_URL;
// const profileImage = `${IMAGES_URL}IMG_1365.png`
const profileImage = "https://images.alyssabedard.com/IMG_1365.png"
---

<div id="img-profile">
    <Image 
        src={profileImage} 
        alt="Alyssa sitting in front of her Apple Macintosh iMac G3 computer in the colour Indigo."
        width="450"
        height="300"
        decoding="async"
        loading="lazy"
    />
</div>

<style>
    #img-profile {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    /* Media query for smaller screens */
    @media only screen and (max-width: 600px) {
        #img-profile  {
            width: 95%;
        }
    }  
</style>