---
const dropbox = "https://www.dropbox.com/scl/fo/o2f8zgxrut4xi7pffzl73/h?rlkey=qfj9umkhkbn5kex9vmjsctmr9&dl=0"
const notion = "https://alyssabedard.notion.site/Languages-5e39572cb5314ff3baf57f6932a1010d?pvs=4"
---

<h4>Recommendation Letters</h4>
<div class="text"><i>(Password can be found on my résumé)</i></div>
<br>
<button class="btn">
    <a id="dropbox-link" href={dropbox} target="_blank">Dropbox Link</a>
</button>
<br>
<h4>Language Learning Resources</h4>
<p class="text">My Notion page for Mandarin Chinese, Japanese, Arabic and English:</p>  
<button class="btn">
    <a href={notion}>Click Me</a>
</button>

<style>
    .text {
        font-size: smaller;
    }
</style>