---
const NOTION_URL = import.meta.env.PUBLIC_NOTION_URL;
---


<div id="other">
    <h4>Language Learning Resources</h4>
    <p class="text">My Notion page for Mandarin Chinese, Japanese, Arabic and English:</p>  
    <button class="btn">
        <a href={NOTION_URL} target="_blank">Click Me</a>
    </button>
</div>
<style>
    .text {
        font-size: smaller;
    }
    #other {
        margin-top: 30px;
        /* margin-bottom: 20px; */
    }
    h4 {
        margin-bottom: 20px;
    }
    button {
        margin-top: 15px;
    }
</style>