---
const NOTION_URL = import.meta.env.PUBLIC_NOTION_URL;
---


<br>
<h4>Language Learning Resources</h4>
<p class="text">My Notion page for Mandarin Chinese, Japanese, Arabic and English:</p>  
<button class="btn">
    <a href={NOTION_URL}>Click Me</a>
</button>

<style>
    .text {
        font-size: smaller;
    }
</style>