---
import Socials from './SocialButtons.astro';
const GITHUB_URL = import.meta.env.PUBLIC_GITHUB_URL;
const NOTION_URL = import.meta.env.PUBLIC_NOTION_URL;
const EMAIL = import.meta.env.EMAIL;
const MAILTO = `mailto:${EMAIL}`
---
<div id="socials">
    <Socials
        platform="mail"
        url={MAILTO}
    />
    <Socials
        platform="github" 
        url={GITHUB_URL}
    />
    <Socials
        platform="notion" 
        url={NOTION_URL}
    />
</div>

<style>
    #find-me {
        font-family: var(--font-header);
    }
    #socials {
        margin-top: 15px;
        margin-bottom: 10px;
    }
</style>
