---
// Footer
const today = new Date();
---

<footer id="footer">
  <p>&copy; {today.getFullYear()} Alyssa Bédard.</p>
</footer>


<style>
  
		footer {
      /* background-color: aquamarine; */
			/* background-color:var(--color-theme); */
			font-family: var(--font-header);
      margin-top: 4px;
			text-align: center;
			color: #31302c;
			/* position: fixed; */
			bottom: 10px;
			right: 10px;
			font-size: 12px;
		}

</style>

