---
// Footer
---

<div id="footer">
  <p>&copy; 2024 Alyssa Bédard </p>
</div>

<style>
  #footer {
    background-color: white;
    font-family: var(--font-header);
    color: black;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
  }
</style>