---
// @ts-nocheck
//  Issue with CSS sheet role="menu-item" not an ariaRole `menuitem`
//  https://www.w3.org/TR/wai-aria-1.1/#role_definitions
const GITHUB_URL = import.meta.env.PUBLIC_GITHUB_URL;
const NOTION_URL = import.meta.env.PUBLIC_NOTION_URL;
---

<ul  role="menu-bar">

    <!-- Normal -->
    <li role="menu-item" tabindex="0" aria-haspopup="false"><a href="/">Home</a></li>
    <li role="menu-item" tabindex="0" aria-haspopup="false"><a href="/projects/">Projects</a></li>
    <li role="menu-item" tabindex="0" aria-haspopup="false"><a href="/contact/">Contact</a></li>

    <!-- Dropdown -->
    <li role="menu-item" tabindex="0" aria-haspopup="true">
        Find Me On
        <ul role="menu">
            <li role="menu-item" tabindex="0" aria-haspopup="false"><a target="_blank" href={GITHUB_URL}>GitHub</a></li>
            <li role="menu-item" class="divider"><a href={NOTION_URL} target="_blank">Notion</a></li>
        </ul>
    </li>

</ul>