---
// Navigation and Menu
---
<div class="nav-box">
  <nav class="container centered-nav">
      <ul>
        <li><span><a href="/">Home</a></span></li>
        <li><span><a href="/projects/">Projects</a></span></li>
        <li><span><a href="/about/">About</a> </span></li>
      </ul>
  </nav>
</div>

<style>
  .centered-nav {
    text-transform: uppercase;
    letter-spacing: 5px;
    
  }
  .centered-nav {
      display: flex;
      justify-content: center;
      margin-top: 20px;
  }
  .centered-nav ul {
      list-style: none;
      padding: 0;
      display: flex;
  }

  .centered-nav li {
      margin: 0 15px;
  }

  .centered-nav a {
      text-decoration: none;
      color: #333;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    padding: 0 20px;
  }
  span {
    position: relative;
    display: block;
    cursor: pointer;
  } 
  a:link { text-decoration: none; color: black;}
  a:visited { text-decoration: none;color: black; }
  a:hover { 
    background:  var(--color-lilac);
    text-decoration: line-through;
    text-decoration-thickness: 3px; } 
  a:active { text-decoration: none; color: black; }  
</style>