---
const { platform, url } = Astro.props;
---

{/* GITHUB */}
{platform=="github" && 
  <span>Github:</span><a href={url} class="fa fa-github" target="_blank"></a>
}

<style>
  
    .fa-github, .fa-envelope {
        background: #efdefc;
        color: black;
    }
    .fa {
        padding: 7px;
        font-size: 26px;
        width: 24px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        /* font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 15%; */
    }
    .fa:hover {
        background:  #efdefc;
        color: white;
        /* color: #efdefc; */
    }