---
import Socials from './SocialButtons.astro';
---

<span id="find-me">Find me on:</span>
{/*Encoded Email Address */}
<Socials
    platform="mail"
    url="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#108;&#98;&#51;&#54;&#55;&#56;&#56;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;"
/>
<Socials
    platform="github" 
    url="https://github.com/alyssabedard"
/>
<Socials
    platform="notion" 
    url="https://alyssabedard.notion.site/Languages-5e39572cb5314ff3baf57f6932a1010d?pvs=4"
/>

<style>

    @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
    
    #find-me {
        font-family: 'DM Serif Display', serif;
    }
</style>
