---
const { platform, url} = Astro.props;
---

{/* MAILTO */}
{platform=="mail" && 
  <a href={url} class="fa fa-envelope"></a>
}

{/* GITHUB */}
{platform=="github" && 
  <a href={url} class="fa fa-github" target="_blank"></a>
}

{/* NOTION */}
{platform=="notion" && 
  <a href={url} class="fa notion" id="notion" target="_blank">
    <iconify-icon icon="simple-icons:notion"></iconify-icon>
  </a>
}

<style>
  .e-mail:before {
  content: "\0061\006C\0079\0073\0073\0061\002E\0062\0065\0064\0061\0072\0064\0040\006F\0075\0074\006C\006F\006F\006B\002E\0063\006F\006D";
  }
    #notion {
      /* padding: 7px;
      font-size: 17px;
      width: 9px;
      text-decoration: none;
      margin: 1px 1px;
      border-radius: 50%; */
      font-size: 16px;
      width: 17px;
    } 
 
    a {
      /* padding: 0.5rem 1rem; */
      color: white;
      background-color: #efdefc;
      text-decoration: none;
    }
    .fa-github, .fa-envelope, .notion {
        background: #efdefc;
        color: white;
    }
    .fa {
        padding: 10px;
        font-size: 19px;
        width: 19px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;

        /* height: 25px;
        margin-left: 10px;
        vertical-align: top; */
    }
    .fa:hover, .notion:hover {
        background:  #efdefc;
        color: black;
        /* color: #efdefc; */
    }
</style>