---

---

<div class="title-bar" id="draggable-title">
    <button aria-label="Close" class="close"></button>
    <h1 class="title">Hello, World!</h1>
    <button aria-label="Resize" class="resize"></button>
</div>


<style>
    .title-bar button {
		background-color: var(--color-theme);
	}
	.title-bar button.resize {
		background-color: var(--color-theme);
	}
	div.title-bar {
		/* position: absolute; */
		z-index: 9;
		/* background-color: #f1f1f1;
		border: 1px solid #d3d3d3; */
		/* text-align: center; */
	}
</style>