---
// CSS Animation Documentation
// https://www.typeitjs.com/
// https://github.com/alexmacarthur/typeit
// https://www.typeitjs.com/docs/vanilla/cursor-customization/
---

<div id="container-animation">
    <div id="text-animation"></div>
</div>

<style>
    #container-animation {
        /* Fix lag where Chinese char size is
        bigger than English */
        line-height:  22px;
        /* Make div height fixed */
        display:block;
        width:100%;
        height:50px;
        /* overflow:scroll; */
    }
    #text-animation {
        font-size: 30px;
        font-weight: 900;
        line-height: 200%;
        background-color: #f0f0f0;
        /* --ti-cursor-font-weight: 2000;  */
    }
    /* Media query for smaller screens */
    @media only screen and (max-width: 600px) {
        #text-animation  {
            font-size: 21px;
            background-color: #f0f0f0;
        }
    }  

</style>

<script>
    import TypeIt from  '../../node_modules/typeit';

    const zh = "大家好！ 我叫爱丽。～～";
    const fr = "Bonjour, je m'appelle Alyssa.";
    // Arabic doesn't work well on Safari Browser..
    // const ar = "～～ أهلآ أنا إسمي عليسة"
    const en = "Hi! I'm Alyssa.";

    new TypeIt("#text-animation", {
        speed: 90,
        waitUntilVisible: true,
        loop: true,
    })
    .type(fr, { delay: 200})
    .delete(fr.length)
    .type(zh, { delay: 1200 })
    .delete(zh.length)
    // .type(ar, { delay: 300})
    // .delete(ar.length)
    .type(en, { delay: 300})
    .delete(en.length)
    .go();
</script>

