---
// Layout for the Markdown page about.md

const {frontmatter} = Astro.props;
---

<!-- <h1> {frontmatter.title}</h1> -->
<div id="markdown-page">
    <slot /> <!-- Markdown content is injected here -->
</div>

<style>
    /* Scoped to this component, only. */
    /* Insert here */

    /*  Mixed: Applies to child `tags` elements only. 
        Styling for Markdown elements inside <slot/> */
    #markdown-page :global(li,p) {
        color: black;
        font-family: var(--font-text);
        font-size: 14px;
    }
    #markdown-page
        /* Links */ 
        :global(a:hover) {
            background:  #efdefc;
            text-decoration-thickness: 3px; 
        }
        :global(a:visited) {
            text-decoration: none;color: black;
        }
        :global(a:active) {
            text-decoration: none; color: black;
        }
        :global(a:link) {
            text-decoration: none; color: black;
        }
</style>


     


