---
// Layout for the Markdown page about.md

const {frontmatter} = Astro.props;
---

<!-- <h1> {frontmatter.title}</h1> -->
<div id="about-page-md">
    <slot /> <!-- Markdown content is injected here -->
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
    
    /* Scoped to this component, only. */
    h1 {border: 1px solid #efdefc;}

    /*  Mixed: Applies to child `tags` elements only. 
        Styling for Markdown elements inside <slot/> */
    #about-page-md :global(h1,h2,h3) {
        color: black;
        font-family: 'DM Serif Display', serif;
    }

    #about-page-md :global(li,p) {
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }

    #about-page-md
        /* Links */ 
        :global(a:hover) {
            background:  #efdefc;
            text-decoration-thickness: 3px; 
        }
        :global(a:visited) {
            text-decoration: none;color: black;
        }
        :global(a:active) {
            text-decoration: none; color: black;
        }
        :global(a:link) {
            text-decoration: none; color: black;
        }
  
</style>


     


