---
const {title} = Astro.props;

// CSS Libraries
import '../styles/global.css';
import '../../node_modules/@sakun/system.css';
import '../../node_modules/typeit';
const fontAwesome = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
---

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Alyssa Bédard's Website" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <!-- <meta name="viewport" content="width=device-width initial-scale=1.0" /> -->
    <link rel="icon" type="image/svg+xml" href="/black-heart-pixel.jpeg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href={fontAwesome}/>
    <!-- <script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script> -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <!-- Changes color of Safari web browser tab when in compact mode -->    
    <meta name="theme-color" content="#efdefc">
    <title>{title}</title>
</head>

