---
interface Props {
	title: string;
}
const { title } = Astro.props;

import MainHead from './MainHead.astro';
import Footer from '../components/Footer.astro';
import MenuBar from '../components/MenuBar.astro';
---

<!doctype html>
<html lang="en">
	<MainHead title={title}/>
	<header></header>
	<body>
		<!-- <main> -->
			<div class="window">
				<div class="title-bar">
				  <button aria-label="Close" class="close"></button>
				  <h1 class="title">Hello, World!</h1>
				  <button aria-label="Resize" class="resize"></button>
				</div>
				<div class="details-bar">
				  <MenuBar />
				</div>
				<div class="window-pane">
					<main>
						<slot /><!-- Content of all other pages injected here -->
					</main>
				</div>
			</div>
		<!-- </main> -->
	</body>
	<footer>
		<Footer />
	</footer>
</html>

<!-- <style is:global>
</style> -->

