---
// Main Layout

interface Props {
	title: string;
}
const { title } = Astro.props;

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import MainHead from './MainHead.astro';
---

<!doctype html>
<html lang="en">
	<MainHead title={title}/>
	<header></header>
	<nav>
		<Navigation />
	</nav>
	<body>
		<slot />
	</body>
	<footer>
		<Footer />
	</footer>
</html>

<style is:global>

	@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
	
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		/* font-family: system-ui, sans-serif; */
		background: white;
		background-size: 224px;
	}

	nav {
  		margin-bottom: auto;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: black;
		font-size: 20px;
		line-height: 1.6;
	}
	body {
		/* TO FIX  !! */

		/* with this code it fits on screen */
		/* min-height: 100vh;
		display: flex;
		flex-direction: column; */

		/* with this line instead doesnt fit window it overlaps, 
		but doesnt have div moving */
		display: table; 

		margin: auto;
		padding: 0;
		width: 100%;
		height: 100vh;
		margin: 0;
		background: white;
		font-family: 'Fira Sans', sans-serif;
		font-size: 20px;
		font-weight: 300;
		color: black;
	}
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	footer {
	display: flex;
    gap: 1rem;
    margin-top: 2rem;
	background-color: #333;
	}

    img, svg {
          margin-block: 2.5rem;
          border-radius: 0.75rem;
    }
	/* code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	} */

</style>
