---
// Layout for the Markdown page about.md

const {frontmatter} = Astro.props;
---

<div id="markdown-layout">
    <slot /> <!-- Markdown content is injected here -->
</div>

<style>
    /* Scoped to this component, only. */
    /* Insert here */

    /*  Mixed: Applies to child `tags` elements only. 
        Styling for Markdown elements inside <slot/> */
    #markdown-layout :global(li,p) {
        color: black;
        font-family: var(--font-text);
        font-size: 16px;
    }
    #markdown-layout
        /* Links */ 
        :global(a:hover) {
            background:  var(--color-theme);
            text-decoration-thickness: 3px; 
        }
        :global(a:visited) {
            text-decoration: none;color: black;
        }
        :global(a:active) {
            text-decoration: none; color: black;
        }
        :global(a:link) {
            text-decoration: none; color: black;
        }
</style>


     


